$gold: #D0A659;
$dark-green: #002D2A;

body,
html {
    height: 100%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background: #FAF9F4;

    &.hidden {
        overflow: hidden;
    }

    & * {
        line-height: 150%;
    }
}

@media(min-width:1500px) {
    .container {
        max-width: 1450px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Tenor Sans", sans-serif;
    font-size: 55px;
    color: $dark-green;
    line-height: 110%;
}

h2,
.texth2 {
    font-family: "Tenor Sans", sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 110%;
    color: $dark-green;
    text-transform: uppercase;

    span {
        display: block;
        margin-left: 89px;

        i {
            color: $gold;
            font-style: normal;
        }
    }
}

h3 {
    font-family: "Tenor Sans", sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 110%;
    color: $dark-green;


}






// ----------btns----------
.yellowbtn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 53px;
    padding: 12px 21px;
    border-radius: 30px;
    background-color: $gold;
    color: #fff !important;
    transition: 0.5s;
    position: relative;
    background-image: url('../img/general/btnbg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom -100px;

    &:hover {
        background-color: #B58E42;
        background-position: center bottom -25px;
    }

    &.h65 {
        min-height: 65px;
        font-size: 17px;
        border-radius: 50px;
        min-width: 220px;

        &:hover {
            background-position: center bottom -50px;
        }
    }
}

.opacitybtn {
    background: rgba(#D0A659, 0.5);
    border: 1px solid #C9A86C;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 65px;
    padding: 5px 30px;
    border-radius: 50px;
    min-width: 220px;
    transition: 0.3s;

    &:hover {
        background-color: #B58E42;
        color: #fff;
    }
}

.linkarr {
    color: $gold;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding-right: 50px;
    padding: 3px 50px 3px 0;
    transition: 0.3s;

    span {
        display: inline-block;
        position: relative;

        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            background: $gold;
            transition: 0.3s;
        }
    }

    img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        transition: 0.5s;
    }

    &:hover {
        color: $gold;

        img {
            transform: translateY(-50%) translateX(5px);
        }

        span {
            &::after {
                width: 100%;
            }
        }
    }

}

.half-container {
    padding-left: calc((100vw - 1425px) / 2);

    &.reverse {
        padding-left: 0;
        padding-right: calc((100vw - 1425px) / 2);
    }
}





@media(max-width:1499.8px) {
    .half-container {
        padding-left: calc((100vw - 1295px) / 2);

        &.reverse {
            padding-right: calc((100vw - 1295px) / 2);
        }
    }

    h2,
    .texth2 {
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }
}

@media(max-width:1399.8px) {
    .half-container {
        padding-left: calc((100vw - 1115px) / 2);

        &.reverse {
            padding-right: calc((100vw - 1115px) / 2);
        }
    }

    h1 {
        font-size: 48px;
    }

    h2,
    .texth2 {
        font-size: 42px;
    }

    h3 {
        font-size: 28px;
    }
}

@media(max-width:1199.8px) {
    .half-container {
        padding-left: calc((100vw - 935px) / 2);

        &.reverse {
            padding-right: calc((100vw - 935px) / 2);
        }
    }

    h1 {
        font-size: 42px;
    }

    h2,
    .texth2 {
        font-size: 36px;

        span {
            margin-left: 40px;
        }
    }

    h3 {
        font-size: 28px;
    }

    .yellowbtn.h65 {
        min-height: 55px;
    }
}

@media(max-width:991.8px) {
    .half-container {
        padding-left: calc((100vw - 695px) / 2);

        &.reverse {
            padding-right: calc((100vw - 695px) / 2);
        }
    }


}

@media(max-width:767.8px) {

    .half-container {
        padding-left: calc((100vw - 515px) / 2);

        &.reverse {
            padding-right: calc((100vw - 515px) / 2);
        }
    }

    .yellowbtn {
        background-image: none;
    }


    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    .texth2,
    h2 {
        font-size: 32px;
    }


}

@media(max-width:575.8px) {

    .half-container {
        padding-right: var(--bs-gutter-x, .75rem) !important;
        padding-left: var(--bs-gutter-x, .75rem) !important;

        &.reverse {
            padding-right: var(--bs-gutter-x, .75rem) !important;
            padding-left: var(--bs-gutter-x, .75rem) !important;
        }
    }




    h1 {
        font-size: 32px;
    }

    // h3 {
    //     font-size: 24px;
    // }

    .texth2,
    h2 {
        font-size: 28px;

        span {
            margin-left: 0;
        }
    }


}