.contact-item {
    padding-bottom: 30px;
    border-bottom: 1px solid #002D2A;
    margin-bottom: 30px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 20px;

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .title {
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
        color: #002D2A;
        margin: 0;
        padding-right: 40px;
    }

    &.dropdown {
        .title {
            position: relative;
            cursor: pointer;


            &::after {
                content: '';
                display: inline-block;
                width: 30px;
                height: 30px;
                background: url('../img/general/faq-icon.svg') no-repeat center / 100%;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) rotate(0);
                transition: 0.5s;
            }

        }

        .title.open {
            &::after {
                transform: translateY(-50%) rotate(-180deg);
            }
        }

        ul {
            display: none;
        }
    }

    a {
        color: #002D2A;
        position: relative;
        transition: 0.3s;

        // &::after {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     right: 0;
        //     margin: 0 auto;
        //     bottom: -3px;
        //     width: 0;
        //     background: #002D2A;
        //     height: 1px;
        //     transition: 0.5s;
        // }

        &:hover {
            // &::after {
            //     width: 100%;
            // }
            color: $gold;
        }
    }

    .lglink {
        font-size: 20px;
        font-weight: 600;
    }
}

.map {
    iframe {
        aspect-ratio: 16/9;
        width: 100%;
    }
}

.contact-soclist {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px 0;

    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        a {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid $gold;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;

            svg path {
                transition: 0.3s;
            }

            &:hover {
                background: $gold;

                svg path {
                    fill: #fff;
                }

            }
        }
    }
}


.contactbg {
    position: absolute;
    left: 0;
    bottom: 0;
}

.contactssect {
    position: relative;

    .container {
        position: relative;
        z-index: 3;
    }

    &::after {
        content: '';
        height: 200px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: url('../img/general/btnbg.png') repeat-x bottom / auto 100%;
        opacity: 0.3;
    }
}

@media(max-width:1399.8px) {
    .rooms h1 {
        margin-bottom: 60px;
    }

    .contact-item .title {
        font-size: 21px;
    }

    .contact-item .lglink {
        font-size: 18px;
    }

}

@media(max-width:767.8px) {
    .topspace {
        padding-top: 80px;
    }
}

@media(max-width:575.8px) {
    .rooms h1 {
        margin-bottom: 30px;
    }

    .contact-item .title {
        font-size: 17px;
    }

    .contact-item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .contact-item .lglink {
        font-size: 16px;
        font-weight: 500;
    }

    .contact-item ul li {
        margin-bottom: 5px;
    }

}